<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link css file -->
    <link rel="stylesheet" href="/static/css/main.css">

</head>

<style>
    .search_bar {
        padding-bottom: 50px;
    }
    .search {
        padding: 5px;
    }
    .media-list{
        padding-top: 50px;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
        padding: 0;
    }
    .media-list-item {
        flex: auto;
        display: flex;
        box-sizing: border-box;
        width: 33.3333333333%;
        float: left;
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: 33.3333333333%;
        height: 450px;
        padding-bottom: 50px;
    }
    .responsive_image {
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        box-shadow: inset 0 0 80px rgb(0 0 0 / 50%);
    }
    .media_image img {
        display: block;
        width: 100%;
      
    }
</style>
<body>
    <div class="jumbotron">
        <a href="http://127.0.0.1:5000/">
            <h1>
                Flask Simple News Web App
            </h1>
        </a>
    </div>

    <form method="GET" action="/get_news" class="search_bar">
        <div class = "search">
            <label for="char1"> What do you want to search? </label>
            <input type="text" name="char1">
        </div>
        <div class = "search">
            <label for="num1"> How many articles do you want? </label>
            <input type="text" name="num1">
        </div>
        <div class="search">
              <label for="source">Chose news source</label>
              <select name="source" id="source">
                <option value="all">ALL</option>
                <option value="CNN">CNN</option>
                <option value="KitchenerToday.com">KitchenerToday</option>
                <option value="Novascotia.ca">Novascotia</option>
                <option value="Ctvnews.ca">CTV news</option>
                <option value="windsoriteDOTca News">windsoriteDOTca News</option>
                <option value="Tbnewswatch.com">Tbnewswatch</option>
                <option value="Engadget">Engadget</option>
                <option value="Lifehacker.com">Lifehacker</option>
                <option value="TechCrunch">TechCrunch</option>
                <option value="The Verge">The Verge</option>
                <option value="BBC News">BBC News</option>
                <option value="Gizmondo.com">Gizmondo</option>
                <option value="Mashable">Mashable</option>
                <option value="Castanet.net">Castanet</option>
                <option value="INSIDER">INSIDER</option>
                <option value="CBC News">CBC News</option>
                <option value="Ceoworld.biz">Ceoworld</option>
                <option value="Inc.">Inc</option>
                <option value="Motor1 ">Motor</option>
                <option value="">Inc</option>
              </select>
        </div>
        <div class='button'>
            <button type="submit">Enter</button>
        </div>
    </form>
    <div>
        {% if start == True %}
            <div class="container">
                <ul class="media-list">
                    {% for new, des, image, source, url in context %}
                    
                    <li class="media-list-item">
                        <div class="media">
                            <div class="media_image">
                                <div class="responsive_image">
                                    <img src="{{image}}" alt = "">
                                </div>
                            </div>
                            <a href="{{url}}">
                                <div class="media_content">
                                    <h3 class="media_title">{{new}}</h3>
                                </div>
                            </a>
                            <p class="media_summary">
                                {{des}}
                            </p>
                            <a href="" class="media_source"> {{source}} </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
        <div class="container">
            <ul class="media-list">
                {% for new, des, image, source, url in context %}
                <li class="media-list-item">
                    <div class="media">
                        <div class="media_image">
                            <div class="responsive_image">
                                <img src="{{image}}" alt = "">
                            </div>
                        </div>
                        <a href="{{url}}">
                            <div class="media_content">
                                <h3 class="media_title">{{new}}</h3>
                            </div>
                        </a>
                        <p class="media_summary">
                            {{des}}
                        </p>
                        <a href="" class="media_source"> {{source}} </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</body>
</html>